<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>TRF Form</title>
    {% include 'includes/head.html' %}
    {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock extrastyle %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>

<body>
<form method="post" action='/trf/testpara/' id="myform">
    {% csrf_token %}
    {{ formset.management_form}}
    <input type="submit" value="Submit">
</form>

<script>
    $(document).ready(function () {
        var form = $('#myform')
        form.append(`
        <input type="number"  name="testing-0-test" id="id_testing-0-test" >
        <label for="id_testing-0-priority_order">Priority order:</label>
        <input type="number" name="testing-0-priority_order" id="id_testing-0-priority_order">
        <input type="hidden" name="testing-0-id" id="id_testing-0-id">
        <br/>
        <input type="number"  name="testing-1-test" id="id_testing-1-test" >
        <label for="id_testing-1-priority_order">Priority order:</label>
        <input type="number" name="testing-1-priority_order" id="id_testing-1-priority_order">
        <input type="hidden" name="testing-1-id" id="id_testing-1-id">
        `)
        $('#id_testing-TOTAL_FORMS').val(2)
    })
</script>

</body>

</html>