<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>TRF Form</title>
    {% include 'includes/head.html' %}
    {% block extrastyle %}
    {% endblock extrastyle %}
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>

<body>
    <div class="mx-auto  d-flex align-items-center justify-content-center h-100">
        <div class="card text-center">

            <div class="card-body">
                <h2>Thank you</h2>
                <h5 class="card-title">Test Request From Submitted Successfully</h5>
                <p class="text-muted">We will contact you shortly...</p>
            </div>

        </div>


    </div>


</body>

</html>